/* color */

.color{
    /* color: rgb(155, 226, 226);    using rgb value */
    color: red;         /* using color name */
    /* color: #000000;      using hexadecimal color                                    */
}

/* background color */
.bgcolor{
    background-color:  blue;
    border: solid 3px;
    height: 40px;
    width: 5000px;
}

/* border */
.border{
    background-color: black;
    height: 100px;
    width: 100px;
}

/* border */
.border{
    color: white;
    border-width: 10px;
    border-style: double;
    border-color: red;
}

/* multiple boredr apply */
.multi_border{
    border-top: 4px solid red;
    border-right: 5px dashed blue;
    border-bottom: 7px dotted green;
    border-left: 10px double yellow;
    background-color: black;
    height: 100px;
    width: 100px;
}

/* border radius apply */
.radius{
    color: white;
    background-color: black;
    height: 100px;
    width: 100px;
    border: 5px solid blue;
    border-radius: 20px;
}